@model torre.Models.Markers.MarkerAddModel
    
<h3 class="uk-heading-divider">Add Marker</h3>

@using (Html.BeginForm())
{
    <div uk-grid>
        <div class="uk-width-1-3@m">
            <div class="uk-margin">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new {@class = "uk-input"})
            </div>
            <div class="uk-margin">
                @Html.LabelFor(m => m.Content)
                @Html.TextAreaFor(m => m.Content, new { @class = "uk-textarea", rows="5" })
            </div>
            <div class="uk-margin">
                @Html.LabelFor(m => m.Icon)
                @Html.TextBoxFor(m => m.Icon, new { @class = "uk-input" })
            </div>
            <div class="uk-margin">
                @Html.LabelFor(m => m.Longitude)
                @Html.TextBoxFor(m => m.Longitude, new {@class = "uk-input" })
            </div>
            <div class="uk-margin">
                @Html.LabelFor(m => m.Latitude)
                @Html.TextBoxFor(m => m.Latitude, new {@class = "uk-input" })
            </div>
            
            <div class="gap"></div>
            
            <div class="button-group">
                <input type="submit" class="uk-button uk-button-default" value="Add"/>
                <a class="uk-button uk-button-default" href="@Url.Action("Index", "Features")">Cancel</a>
            </div>
        </div>
        
        <div class="uk-width-2-3@m">
            <div id="map" class="map-small"></div>
        </div>
    </div>
}


@section scripts
{
    <script src="@Url.Content("~/Scripts/ViewModels/Marker/Add.js")"></script>
    <script>
        var viewModel =
            new torre.ViewModels.Marker.Add();
    </script>
}