@model torre.Models.MapViewModel

<div uk-grid>
    <div class="uk-width-4-5">
        <div id="map" class="map"></div>
    </div>
    <div class="uk-width-1-5">
        @Html.Action("Index", "Editor")
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/ViewModels/Home/Index.js")"></script>
    <script>
        var viewModel =
            new torre.ViewModels.Home.Index({ Latitude: @(Model.Center.Latitude), Longitude: @(Model.Center.Longitude) },
                @(Model.Zoom));
    </script>
}