<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torre</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/UIKit")
    @Styles.Render("~/Content/mapping")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

<nav class="uk-navbar-container torre-navbar" uk-navbar>
    <div class="uk-navbar-center" uk-navbar>
        <ul class="uk-navbar-nav">
            <li class="uk-active">@Html.ActionLink("Torre", "Index", "Home", new {area = ""}, new {})</li>
            <li>@Html.ActionLink("Features", "Index", "Features")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
    </div>
</nav>

<br/>

<div class="uk-container-large center">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Torre</p>
    </footer>
</div>
    
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHZDGMsYq0y8jyuywz2ekHP7AJZ1-xhPw" type="text/javascript"></script>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/vendor")
@Scripts.Render("~/bundles/utilities")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/UIKit")
@Scripts.Render("~/bundles/ts")
@Scripts.Render("~/bundles/viewModels")
@Scripts.Render("~/bundles/mapping")
@RenderSection("scripts", required: false)
</body>
</html>
